[Desktop Entry]
Encoding=UTF-8
Name=Oakcoin Core
Comment=Connect to the Oakcoin P2P Network
Comment[de]=Verbinde mit dem Oakcoin peer-to-peer Netzwerk
Comment[fr]=Oakcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Oakcoin, eşten eşe kriptografik sanal para birimi
Exec=oakcoin-qt %u
Terminal=false
Type=Application
Icon=oakcoin128
MimeType=x-scheme-handler/oakcoin;
Categories=Office;Finance;
