
## <summary>policy for oakcoin</summary>


########################################
## <summary>
##	Transition to oakcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`oakcoin_domtrans',`
	gen_require(`
		type oakcoin_t, oakcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, oakcoin_exec_t, oakcoin_t)
')


########################################
## <summary>
##	Execute oakcoin server in the oakcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`oakcoin_initrc_domtrans',`
	gen_require(`
		type oakcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, oakcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search oakcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`oakcoin_search_lib',`
	gen_require(`
		type oakcoin_var_lib_t;
	')

	allow $1 oakcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read oakcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`oakcoin_read_lib_files',`
	gen_require(`
		type oakcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, oakcoin_var_lib_t, oakcoin_var_lib_t)
')

########################################
## <summary>
##	Manage oakcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`oakcoin_manage_lib_files',`
	gen_require(`
		type oakcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, oakcoin_var_lib_t, oakcoin_var_lib_t)
')

########################################
## <summary>
##	Manage oakcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`oakcoin_manage_lib_dirs',`
	gen_require(`
		type oakcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, oakcoin_var_lib_t, oakcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an oakcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`oakcoin_admin',`
	gen_require(`
		type oakcoin_t;
		type oakcoin_initrc_exec_t;
		type oakcoin_var_lib_t;
	')

	allow $1 oakcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, oakcoin_t)

	oakcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 oakcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, oakcoin_var_lib_t)

')

