policy_module(oakcoin, 1.100.1)

########################################
#
# Declarations
#

type oakcoin_t;
type oakcoin_exec_t;
init_daemon_domain(oakcoin_t, oakcoin_exec_t)

permissive oakcoin_t;

type oakcoin_initrc_exec_t;
init_script_file(oakcoin_initrc_exec_t)

type oakcoin_conf_t;
files_type(oakcoin_conf_t)

type oakcoin_var_lib_t;
files_type(oakcoin_var_lib_t)

type oakcoin_var_run_t;
files_type(oakcoin_var_run_t)

type oakcoin_port_t;
corenet_port(oakcoin_port_t)

########################################
#
# oakcoin local policy
#
allow oakcoin_t self:process { fork };

allow oakcoin_t self:fifo_file rw_fifo_file_perms;
allow oakcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(oakcoin_t, oakcoin_conf_t, oakcoin_conf_t)
manage_files_pattern(oakcoin_t, oakcoin_conf_t, oakcoin_conf_t)

manage_dirs_pattern(oakcoin_t, oakcoin_var_lib_t, oakcoin_var_lib_t)
manage_files_pattern(oakcoin_t, oakcoin_var_lib_t, oakcoin_var_lib_t)
files_var_lib_filetrans(oakcoin_t, oakcoin_var_lib_t, { dir file })

manage_dirs_pattern(oakcoin_t, oakcoin_var_run_t, oakcoin_var_run_t)
manage_files_pattern(oakcoin_t, oakcoin_var_run_t, oakcoin_var_run_t)

sysnet_dns_name_resolve(oakcoin_t)
corenet_all_recvfrom_unlabeled(oakcoin_t)

allow oakcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(oakcoin_t)
corenet_tcp_sendrecv_generic_node(oakcoin_t)
corenet_tcp_sendrecv_all_ports(oakcoin_t)
corenet_tcp_bind_generic_node(oakcoin_t)

gen_require(`
    type oakcoin_port_t;
')
allow oakcoin_t oakcoin_port_t:tcp_socket name_bind;

gen_require(`
    type oakcoin_port_t;
')
allow oakcoin_t oakcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(oakcoin_t)

files_read_etc_files(oakcoin_t)

miscfiles_read_localization(oakcoin_t)

sysnet_dns_name_resolve(oakcoin_t)

allow oakcoin_t oakcoin_exec_t:file execute_no_trans;
allow oakcoin_t self:process setsched;
corecmd_exec_ls(oakcoin_t)
corenet_tcp_connect_http_port(oakcoin_t)
dev_read_urand(oakcoin_t)
fs_getattr_xattr_fs(oakcoin_t)
kernel_read_system_state(oakcoin_t)
